.anchor-type {
  cursor: pointer;
}

blockquote {
  text-align: right;
  span:first-child {
    font-style: italic;
  }
}

.current-time {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #6d8996;
  span {
    display: inline-block;
    min-width: 112px;
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.95);
  &.dragging {
    transform: scale(0.75);
    transition: 0.5s;
  }
  &.dragging,
  &.dragging .button {
    background: rgba(255, 255, 255, 0.3);
  }
  &:first-of-type {
    margin-top: 24px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.current-time,
.grid__column {
  border-radius: 6px;
}

.grid__column {
  word-break: break-word;
  margin-bottom: 10px;
  &.over {
    filter: brightness(85%);
    transition: 0.3s;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #efefef;

  strong {
    color: #efefef;
  }

  .box {
    background-color: rgba(31, 31, 31, 0.95);
    color: #efefef;
  }

  .button.is-light {
    background: #333;
    color: #efefef;
  }

  .current-time {
    background-color: #3a4a51;
  }

  input,
  textarea {
    color: #efefef;
    background-color: #333;
    border-color: #000;
  }

  .fa-pen-to-square {
    color: #efefef;
    &:hover {
      color: #afafaf;
    }
  }

  .plate__header .title,
  .plate__header .subtitle,
  .modal-card-title,
  .modal-card-body label {
    color: #efefef;
  }

  .modal-card-head,
  .modal-card-foot {
    background-color: #000;
    border-color: #393939;
  }

  .modal-card-body {
    background-color: #1f1f1f;
  }

  .footer {
    background-color: #000;
  }
}

@media screen and (min-width: 768px) {
  .toogle-dark {
    margin-left: 1rem;
  }

  .grid__column {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .current-time {
    right: 3rem;
  }
  .footer {
    padding: 1.5rem 3rem;
  }
}
